__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.git/
.github/
.venv/
venv/
tests/
docs/
docker/
*.md
!data/**/*.md
.env
.gitignore
.dockerignore
Makefile
